@use 'styles/variables.scss' as *;

.App {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

#wrapper {
  margin: 0 auto;
  text-align: left;
}

.header-text {
  max-width: min(400px, 90%);
  margin: 0 auto;
}

#search {
  margin-top: 2rem;
  width: 100%;
  margin-inline: auto;
  max-width: min(30rem, 100%);
}

.search-input {
  width: 100%;
  border-radius: $borderRadius;
  border: 1px solid rgb(179, 179, 179);
  padding: 1rem;
  font-size: 1.5rem;
}

footer {
  margin-top: 3rem;
}

.text-center {
  text-align: center;
}
